<%= semantic_form_for [:admin, @testimonial] do |f| %>
	<label>Title</label><br />
    <%=f.text_field :title,:label => "Title" %><br />
    <label>Video Url</label><br />
    <%=f.text_field :videourl , :label => "Video Url"%><br />
 
	<label>Status</label>
    <%=f.check_box :status, :checked => true %><br />
    <%= f.file_field :pic %>
    <%= f.actions  %>
<% end %>
