<div class="wrapper clr">            
            <section class="about shadow">
            <div class="col title">  
                <div class="col-12">              
                    <div class="fl">
                        <h2>About</h2>
                    </div>                 
                    <div class="fr">
                        <ul class="breadcrumb">
                        <li><a href="<%= root_path %>">Home</a> / <span class="current">About</span></li></ul> 
                    </div>
                </div>  
            </div>
              <div class="mid-head italic col-12">                    
                
              </div>
            <div class="col-12 border-bottom">

                          <div class="about-slider fl">
                            <img src="<%= asset_path('android.jpg') %>">
                             <span class="caption">Android courses</span>
                          </div> 
                            <p>The Digital Marketing Institute is setting the global standard for Digital Marketing education. We specialise in Digital Marketing &ndash; nothing else &ndash; and by the end of 2014 we will have trained 11,000 people across four continents.</br>
                            Our syllabus is defined by the world’s leading digital brands and agencies. Courses are taught by expert practitioners currently working in Digital Marketing and your learning will be shaped by their practical experiences and case studies.</br>
                            As well as validation from industry, our programmes are also fully accredited by the Scottish Qualifications Authority and recognised around the world.</br>
                            Our learning options are completely flexible &ndash; you can study full time, part time or online. And if you miss a class due to work commitments, you can always catch up online.</br>
                            By taking a course with the Digital Marketing Institute, you will come away with an actionable Digital Marketing strategy for your business and the skills and knowledge to immediately implement a Digital campaign.</p>  
                   <p class="text-centre"><button type="submit" class="btn-normal" onclick="window.location.href='/contact'">Contact Us</button></p> 
                                                  
 						  </div>   
                <div class="clr"></div>
                 <div class="col">
                    <div class="col-12 mid-head">
                        You can also check courses
                    </div>
                    	<div class="col-12">
                          	<% @courses.each do |c| %>
                              <div class="col-4">
                                <div class="course-img">
                                  <%= image_tag c.pic.url(:medium) %>
                                    <span class="caption"><p value="<%= c.title %>"></span>
                                      <li style="float: left;"><%= c.title %> </li>                            
                                <%= link_to 'Read More', {:action => 'course_detail', :title => c.slug }, :class => 'read-btn' -%>
                              </div>                          
                              </div>
                            <% end %>
                    	</div>
               		</div>       
            </section>                       
            
</div><!-- wrapper end -->   