<div class="wrapper clr">            
  <section class="about shadow">
    <div class="col title">  
      <div class="col-12">              
        <div class="fl">
          <h2>Contact</h2>
        </div>                 
        <div class="fr">
          <ul class="breadcrumb">
            <li><a href="<%= root_path %>">Home</a> / <span class="current">Contact</span></li>
          </ul> 
        </div>
      </div> 
    </div>
    <div class="mid-head italic col-12">                    
      <div class="container" id="map">
        <iframe width="870" height="300" src="https://maps.google.co.in/maps?oe=utf-8&amp;client=firefox-a&amp;channel=fflb&amp;ie=UTF8&amp;q=Stark+Infotech&amp;fb=1&amp;gl=in&amp;hq=stark+infotech&amp;cid=14021777311442124501&amp;t=m&amp;ll=18.511069,73.795981&amp;spn=0.010174,0.021865&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
      </div>
    </div>
    <div class="col-12 contact">
      <div class="col-6">
        <span class="getintouch">Get in touch</span>        
        <%= form_tag(sendmail_path) do %>
            <div class="input_field">
              <%= label_tag 'name', 'Name' %>
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name', required: true %>
            </div>
            <div class="input_field">
              <%= label_tag 'email', 'Email' %>
              <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
          </div>
          <div class="input_field">
               <%= label_tag 'phone', 'Phone no.' %>
               <%= text_field_tag 'phone', nil, class: 'form-control', rows: 4, placeholder: 'Phone no.', required: true  %>
          </div>
          <div class="input_field">
               <%= label_tag 'message', 'Your Message' %>
               <%= text_area_tag 'message', nil, class: 'form-control', rows: 4, placeholder: 'Your Message' %>
          </div>
          <p class="text-left"><button type="submit" class="btn-normal">Send</button></p>           
        <% end %>
      </div>
      <div class="col-6">
        <address>
          <span class="getintouch">iSygnet</span>
          <p>R/t- 5, A Type Building, Dhanalaxmi Park,</p>
          <p>Opposite to Kothrud Bus Depot, Paud Road,</p>
          <p>Kothrud Pune -411038,</p>
          <p>Maharashtra, India.</p>
          <p class="phone"><a href="#">(020) 6419 8008</a></p>
          <p class="email"><a href="mailto:sales@starkdigital.net">sales@starkdigital.net</a></p>
        </address>
      </div> 
    </div>
    <div class="clr"></div>
  </section>           
</div><!-- wrapper end -->   