<div class="wrapper clr">            
            <section class="about shadow">
            <div class="col title">                
                <ul class="breadcrumb">
                   <li><a href="<%= root_path %>">Home</a> / <span class="current">Cources</span></li>
                </ul> 
                
            </div>
            <div class="col">
              <div class="mid-head col-12 italic">
              
              </div>
             </div>
            <div class="col cours-she">
                 <div class="col-12 border-bottom">
                    <div class="col-4">
                    <img src="<%= @course.pic%>" width="100%">                      
                    </div>
                    <div class="col-8">    
                              <h2>Course Name: <%= @course.title%></h2> 
                              <p>Description: <%= @course.description%></p>
                              <p>Duration: <%= @course.duration%></p>
                              <p>Fees: <%= @course.fees%></p>
                       <button type="submit" class="btn-normal course-shed-btn" onclick="window.location.href='/contact'">
                       Schedule of Cources</button>                 
   					</div>
                </div>    
            </div>
            <div class="col">
              <div class="col-12 mid-head">
                You can also check Cources
              </div>
              <div class="col-12">

                  <% @courses.each do |c| %>
                              <div class="col-4">
                                <div class="course-img">
                                	<%= image_tag c.pic.url(:medium) %>
                                    <span class="caption"><p value="<%= c.title %>"></span>
                                      <li style="float: left;"><%= c.title %> </li>                            
                                <%= link_to 'Read More', {:action => 'course_detail', :title => c.slug }, :class => 'read-btn' %>
                              </div>                          
                            </div>
                  <% end %>

              </div>
            </div>             
            </section>  
</div><!-- wrapper end -->   
