<div class="wrapper clr">
<script type="text/javascript">
        $(document).ready(function(){
            $('#slider1').responsiveSlides();
            $(".courseimage").attr("src", $("#def_image").val());
            $(".input-control option[value ='"+$("#def_path").val()+"' ]").attr('selected', 'selected');
            $('.input-control').on("change", function(){
                var urlAbsolute = $(".input-control").find(":selected").val();
                urlAbsolute = urlAbsolute.split(" ");
                $(".courseimage").attr("src", urlAbsolute[0]);
            });
            $('.msg').val('');
            $('.btn-normal').on("click", function(e){
                var urlAbsolute = $(".input-control").find(":selected").val();
                urlAbsolute = urlAbsolute.split(" ");
                course = urlAbsolute[1];
                if(course){
                    var url = "/course/"+course;    
                    $(location).attr('href',url);
                }else{
                $('.msg').append('Please select value!');
                       e.preventDefault;
                }
            });
        });
    </script>    
    <script type="text/javascript">
    //To detect escape button
    jQuery(document).ready(function($) {
    $(".various").fancybox({
        maxWidth    : 800,
        maxHeight   : 600,
        fitToView   : false,
        width       : '70%',
        height      : '70%',
        autoSize    : false,
        closeClick  : false,
        openEffect  : 'none',
        closeEffect : 'none'
    });
    });    
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#titleclick").click(function(){
                $(".dimage").alert();
            });
        });
    </script>
            <section class="slider shadow">
                <!-- <img src="/assets/img1.jpg"> -->
                <ul class="rslides" id="slider1">
                  <li><img src="<%= asset_path('img1.jpg') %>" alt="" width="1154" height="399"></li>
                  <li><img src="<%= asset_path('1.jpg') %>" alt="" width="1154" height="399"></li>
                  <li><img src="<%= asset_path('2.jpg') %>" alt="" width="1154" height="399"></li>
                  <li><img src="/assets/3.jpg" alt="" width="1154" height="399"></li>
                </ul>
            </section><!-- slider end -->
            <section class="stu-tetis shadow margin">
            <!-- Add student testimonial from testimonial object -->

            <% @testimonials[0..3].each_with_index do |testimonial, index| %>            
                <% if (index == 0) then %>
                    <div class="col-5">
                        <div class="shadow box padding">
                            <!--a data-rel="popup" href="#myPopup"></a-->
                            <a href="<%=testimonial.videourl%>" class="various fancybox.iframe"><%= image_tag testimonial.pic.url(:medium) %></a>                            
                        </div>
                    </div>
                    <div class="col-7">
                        <h2>Student Testimonials</h2>
                        <p>See what our graduates have to say about how Digital Marketing Institute programmes helped their careers.</p>
                        <div class="boxs clr col">
                <% else %>
                        <div class="col-4">
                                <a href="#" class="thumbs shadow">
                                    <%= image_tag testimonial.pic.url(:medium) %>
                                </a>
                        </div>
                <% end %>
                <% if (index == 3) then %>
                    </div>
                    </div>
                <% elsif (@testimonials.size == (index-1)) %>
                    </div>
                    </div>
                <% end %>

            <% end %>
                    
            </section>
            <section class="maping shadow">
                    <div class="col-5">
                        <div class="box">
                        <img src="<%= asset_path('map.jpg') %>">
                        </div>
                    </div>
                    <div class="col-7">
                        <h2>Visit Us</h2>
                        <p>Our Global Partners are some of the world's finest training providers. <a href="/contact">Find out more</a> about where you can study our recognised programmes around the world</p>
                        <div class="clr"></div>
                        <button type="submit" class="btn-normal" onclick="window.location.href='/contact'" >Contact Us</button>
                    </div>
            </section><!-- maping end -->
            <section class="courses shadow">                   
                    <div class="col-7">
                        <div class="phone-img">
                    <img class="courseimage" src="">
                      </div>
                    </div>
                    <div class="col-5">
                        <h2>Our Courses</h2>
                        <p>Delivered through video, webinars and interactive workshops. Our programmes are presented by the best digital marketing experts from around the world.</p>

                        <!-- To set the first iem image as default get the first element of array snd set the value of image  -->
                        <% @@course = @courses.first %>
                        <input id="def_image" type="hidden" value="<%=@@course.pic.url%>">
                        <input id="def_path" type="hidden" value="<%=@@course.pic.url+' '+@@course.slug%>">
                        <!-- To set the first iem image as default get the first element of array snd set the value of image  -->
                        <div class="input-group">

                            <select class="input-control" >
                                <% @courses.each do |c| %>
                            	<option value="<%=c.pic.url+' '+c.slug%>"><%= c.title %></option>

                                <% end %>
                            </select>
                        </div>
                        <div class="clr"></div> 
                            <span class="msg"></span><br />
                            <button type="submit" class="btn-normal">GO TO THE COURSE</button>
                        </div>
            </section>
            <section class="partner-slider shadow">
                    <h2>Our Recruitment Partner</h2>
                    <div class="slider-img fixed-bar">         
                        <ul id="carousel" class="elastislide-list">
                        <% @recruiters[0..3].each do |recruiter| %>
                            <li>
                                <a href="#" >
                                    <%= image_tag recruiter.pic.url(:medium) %>
                                </a>
                            </li>
                        <% end %>        
                        </ul>
                    </div>
            </section> <!-- partner-slider end -->
            <section class="traning shadow">
                    <div class="col-7">
                        <h2>Corporate Traning</h2>
                           <h3>We offer flexible and tailored Corporate Training packages that match your business objectives.
                                <a href="/placement">Find out more here.</a>
                           </h3> 
                        <div class="para">
                            The lecturers were excellent. They were experts in their field but most importantly they were practical teachers. We were able to apply what we learned to our own business through examples they showed us.
                        </div>   
                        <p>Kartik Patil<span> Director </span></p>
                    </div>
                    
                    <div class="col-4">
                        <div class="train-img">
                            <img src="<%= asset_path('img10.png') %>" alt="img" width="227px" height="231px">
                        </div> 
                    </div>
            </section><!-- traning end -->           
</div><!-- wrapper end -->   