<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>iSygnet</title>
        <meta name="viewport" content="width=device-width">
        <link href="css/grid.css" rel="stylesheet" type="text/css">
        <script type='text/javascript' src='js/jquery.js'></script>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <script>
           $(function() {
               var pull = $('.menu-btn');
               menu = $('nav .menu');
               menuHeight = menu.height();
               $(pull).on('click', function(e) {
               e.preventDefault();
               menu.slideToggle();
               });
               $(window).resize(function(){
               var w = $(window).width();
               if(w > 320 && menu.is(':hidden')) {
               menu.removeAttr('style');
               }
               });
               });
        </script>
</head>
<body>
<header>
  <div class="wrapper">
      <div class="col">
          <div class="col-4">
              <h1 class="logo"><a href= "/home" ><img src="<%= asset_path('isygnet-logo-final.png') %>"></a></h1>
            </div>
            <div class="col-8">
              <div class="fr clr social">
                  <span>Stay Connected:</span>

                 <ul class="social-icon fr">

                        <% @settings.each do |setting| %>
                            <% if (setting.settingkey == 'facebook' ) then %>          
                                <% if (setting.settingvalue) then %>
                        <li><a href="<%= setting.settingvalue %>" class="facebook">&nbsp;</a></li>
                                <% else %>
                                    <li><a href="#" class="facebook">&nbsp;</a></li>
                                <% end %>
                            <% end %>
                            <% if (setting.settingkey == 'google' ) then %>
                                <% if (setting.settingvalue) then %>
                                    <li><a href="<%= setting.settingvalue %>" class="g-plus">&nbsp;</a></li>
                                <% else %>
                                    <li><a href="#" class="g-plus">&nbsp;</a></li>
                                <% end %>
                            <% end %>
                            <% if (setting.settingkey == 'twitter' ) then %>
                                <% if (setting.settingvalue) then %>
                                    <li><a href="<%= setting.settingvalue %>" class="tweet">&nbsp;</a></li>
                                <% else %>
                                    <li><a href="#" class="tweet">&nbsp;</a></li>
                                <% end %>
                            <% end %>
                            <% if (setting.settingkey == 'linked_in' ) then %>
                                <% if (setting.settingvalue) then %>
                                    <li><a href="<%= setting.settingvalue %>" class="linkedin">&nbsp;</a></li>
                                <% else %>
                                    <li><a href="#" class="linkedin">&nbsp;</a></li>
                                <% end %>                        
                            <% end %>                       
                        <% end %>
          </ul>
                </div>
                <div class="fr phone-number clr">
                  <span class="phone-num-img">&nbsp;</span>
                  <span class="phone-text">Contact us: </span>
                    <span class="number">(<small>020</small>) 6419808</span>
                </div>
                <nav class="clr fr">
                    <a class="menu-btn" href="javascript:void(0);">Menu</a>
                    <ul class="fr menu-pills menu">
                        <li><a href="/home" class="active">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a>Our courses</a>
                            <ul class="sub-menu">
                           <% @courses.each do |c| %>
                           <li><%= link_to c.title, {:action => 'course_detail', :title => c.title } %></li>
                           <% end %> 
                          </ul>
                        </li>                         
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div><!-- wrapper end -->
</header>
<!-- header end -->
<div class="wrapper clr">            
            <section class="about shadow placement">
              <div class="col title">                                       
                  <div class="col-12">
                      <ul class="breadcrumb">
                      <li><a href="/home">Home</a> / <span class="current">About</span></li></ul> 
                  </div>
              </div>
              <div class="col">
                <div class="mid-head italic col-12">                    
                    
                </div>
              </div>
              <div class="col">
                    <div class="col-12 ">
                                         
                            <% @placements.each do |p| %>
                                <div class="col-3">
                                    <div class="course-img" style="width:150px;height:200px">
                                      <%= image_tag p.pic.url(:medium) %>
                                      <li style="float: left;"><%= p.title %> </li>                            
                                    </div>                          
                                </div>
                            <% end %>  
                                           
                    </div>
              </div>         
                        
            </section>                       
            <footer>
                     <p>Copyright 2014 All Rights Reserved by <a href="/home">iSygnet</a><p>
            </footer><!-- footer end -->    
</div><!-- wrapper end -->   
</body>
</html>
