  <%= semantic_form_for [:admin, @course], :html => { :multipart => true }  do |f| %>
    <label>Title</label><br />
    <%=f.text_field :title,:label => "Title" %><br />
    <label>Description</label><br />
    <%= f.text_area :description, as: :html_editor %><br/>
    <label>Dduratio</label><br />
    <%= f.text_field :duration %><br/>
    <label>Fees</label><br />
    <%= f.text_field :fees %><br />
    <label>Slug</label><br />
    <%= f.text_field :slug %><br />
    <label>Image</label><br />
    <%= f.file_field :pic %><br />
    <label>Status</label><br />
    <%=f.check_box :status, :checked => true %><br />

    <%= f.actions  %>

  <% end %>
 